@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

body {
    background: url(../images/wood5.jpg) repeat;
}

img, object, embed, video {
    max-width: 100%;
}

/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
    width: 100%;
}

/*
	Propiedades de cuadrícula fluida de Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		2;
	dw-num-cols-tablet:		2;
	dw-num-cols-desktop:	4;
	dw-gutter-percentage:	25;
	
	Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	y Golden Grid System de Joni Korpi
	http://goldengridsystem.com/
*/

/* Diseño móvil: 480 px e inferior. */

.gridContainer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
}

#LayoutDiv1 {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    padding-top: 10%
}

#LayoutDiv2 {
    padding-top: 5%;
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
}

#LayoutDiv3 {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    color: #FFF;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#LayoutDiv4 {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
}

#LayoutDiv5 {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}

/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 481px) {
    .gridContainer {
        width: 90%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #LayoutDiv1 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #LayoutDiv2 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #LayoutDiv3 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
        color: #FFF;
        font-size: 12px;
    }

    #LayoutDiv4 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #LayoutDiv5 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
    .gridContainer {
        width: 66.5%;
        max-width: 1232px;
        padding-left: 1.75%;
        padding-right: 1.75%;
        margin: auto;
    }

    #LayoutDiv1 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #LayoutDiv2 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #LayoutDiv3 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
        font-size: 12px;
    }

    #LayoutDiv4 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    #LayoutDiv5 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
}
